* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

// using variable
$cadetblue   :cadetblue;
$cadetblue-2 : #9bc0c1;

body {
    font-family: "Mukta", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}