@use 'basic.scss';

$height:auto;
$pink  :crimson;
$white :white;
$black :black;
$red   :red;


.bordered {
    border-bottom: 2px solid $red;
}

.hero-image {
    background     : url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg") no-repeat center;
    background-size: cover;
    padding        : 100px;
    position       : relative;
    z-index        : 1;

    &:after {
        content         : "";
        position        : absolute;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        background-color: rgba(0, 0, 0, 0.694);
        z-index         : -1;
    }

    .hero-text {
        background-color: rgba(255, 255, 255, 0.7);
        padding         : 100px;
        text-align      : center;

        h1 {
            font-size    : 50px;
            margin-bottom: 20px;
        }

        .btn {
            padding         : 15px 30px;
            background-color: $pink;
            color           : $white;
            border-radius   : 20px;
            border          : 1px solid crimson;

            &:hover {
                background-color: transparent;
                color           : crimson;
            }
        }
    }
}