* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.ptb-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ptb-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ptb-3 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.ptb-4 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ptb-5 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo a {
  color: white;
}
header .navbar .logo a span {
  color: #45b7b7;
}
@media (max-width: 576px) {
  header .navbar .nav {
    display: none;
  }
}
@media (min-width: 576px) {
  header .navbar .nav {
    display: none;
  }
}
@media (min-width: 992px) {
  header .navbar .nav {
    display: block;
  }
}
header .navbar .nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
header .navbar .nav ul li {
  padding: 10px;
}
header .navbar .nav ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
header .navbar .nav ul li .active {
  color: #45b7b7;
}
@media (max-width: 576px) {
  header .navbar .menubtn {
    display: block;
  }
}
@media (min-width: 576px) {
  header .navbar .menubtn {
    display: block;
  }
}
@media (min-width: 992px) {
  header .navbar .menubtn {
    display: none;
  }
}
header .navbar .menubtn .mbtn {
  padding: 5px;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.homepage .home-banner {
  display: flex;
}
.homepage .home-banner .left-text {
  flex: 1;
  background-color: teal;
  padding: 100px 56px;
  position: relative;
}
@media (max-width: 576px) {
  .homepage .home-banner .left-text {
    padding: 100px 10px;
  }
}
.homepage .home-banner .left-text .text {
  position: absolute;
  z-index: 1;
}
.homepage .home-banner .left-text .text p {
  color: #45b7b7;
  font-size: 20px;
}
.homepage .home-banner .left-text .text h1 {
  font-size: calc(3.5vw + 1.5rem);
  text-wrap: nowrap;
  color: white;
}
.homepage .home-banner .left-text .text h3 {
  font-size: 22px;
  color: #45b7b7;
}
.homepage .home-banner .left-text .text .linkbtn {
  padding-top: 30px;
}
.homepage .home-banner .left-text .text .linkbtn a {
  color: white;
  position: relative;
  z-index: 1;
}
.homepage .home-banner .left-text .text .linkbtn a:before {
  content: "";
  position: absolute;
  left: 48px;
  top: -7px;
  height: 40px;
  width: 100px;
  background-color: #1c8686;
  display: block;
  z-index: -1;
}
.homepage .home-banner .left-text .text .linkbtn a:after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: white;
  display: inline-block;
  margin: 3px;
}
.homepage .home-banner .aboutme-img {
  flex: 1.5;
  background: url(../images/bg_2.jpg.webp);
  padding: 250px 0;
  background-position: center;
  background-size: cover;
  position: relative;
}
.homepage .home-banner .aboutme-img .video-play {
  position: absolute;
  left: -40px;
  top: 290px;
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: teal;
  animation: videoplay 1.5s ease infinite;
  z-index: 3;
}

@keyframes videoplay {
  0% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.702);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}/*# sourceMappingURL=style.css.map */